<!DOCTYPE html>
<html ng-app="pillars" ng-controller="MainCtrl as ctrl">
	<head>
		<title>Welcome to Pillars</title>
		<base href="/"></base>
		<link rel="stylesheet" type="text/css" href="styles/vendor.css" />
		<link rel="stylesheet" type="text/css" href="styles/src.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<script src="scripts/vendor.js"></script>
		<script src="scripts/src.js"></script>
	</head>
	<body layout="row" ng-controller="MainCtrl">
		<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 md-closed ng-isolate-scope md-locked-open" md-component-id="left" md-is-locked-open="$media('gt-sm')" tabindex="-1">
			<md-toolbar>
				<h1 class="md-toolbar-tools">Pillars</h1>
			</md-toolbar>
			<md-content class="md-padding" ng-controller="SidebarCtrl as sidebar">
				<md-list>
					<md-item ng-click="sidebar.setCurrent($index)" ng-repeat="page in sidebar.pages track by $index">
						<md-item-content>
							<div class="md-tile-content">
								<h3>{{page.title}}</h3>
							</div>
						</md-item-content>
						<md-divider ng-if="!$last"></md-divider>
					</md-item>
				</md-list>
			</md-content>
		</md-sidenav>
		<div layout="column" layout-fill>
			<md-toolbar md-scroll-shrink>
				<div class="md-toolbar-tools">
					<h3><span>Documentation</span></h3>
				</div>
			</md-toolbar>
			<md-content class="md-padding">
				<h1>Getting Started</h1>
			</md-content>
		</div>
	</body>
</html>
