doctype html
html(lang="en")
  head
    title Welcome to Pillars
    link(href='/styles/vendor.css', rel='stylesheet')
    link(href='/styles/src.css', rel='stylesheet')
    script(src='/scripts/vendor.js')
    script(src='/scripts/src.js')
  body
    div.container
      h1 Welcome to Pillars
      p.
        Pillars is a front end starter kit built with the best tools available.