<div class="half">
	<h4>Dafuq is &quot;{{ctrl.frameworkName}}&quot;?</h4>
	<p>{{ctrl.frameworkName}} is a solid starting point for any web application. With SASS compilation, bower integration as well as asset minification and linting out of the box there's no reason not to!</p>
</div>

<div class="half">
	<h4>Cool, What's it built on?</h4>
	<p>{{ctrl.frameworkName}} is built on the solid foudnation of open technology.</p>
	<div class="half">
		<h5>Server Side</h5>
		<ul>
			<li>Gulp</li>
			<li>Express</li>
			<li>Browser Sync</li>
		</ul>
	</div>
	<div class="half">		
		<h5>Build Environment</h5>
		<ul>
			<li>Gulp</li>
			<li>node-sass</li>
			<li>Browsersync</li>
			<li>Bower</li>
		</ul>
	</div>
</div>